.midgard4.sheet.item {
    form {
        display:flex;
        flex-direction: column;
    }
    .sheet-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        th {
            text-align: left;
            padding-left: 0.5em;
        }
        .editor {
            height: 100%
        }
    }
}