.midgard4.sheet.item form {
  display: flex;
  flex-direction: column;
}
.midgard4.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.midgard4.sheet.item .sheet-content th {
  text-align: left;
  padding-left: 0.5em;
}
.midgard4.sheet.item .sheet-content .editor {
  height: 100%;
}
