<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <td><label>{{localize "midgard4.armor.type"}}</label></td>
                <td>
                    <select name="data.armorType">
                        {{selectOptions display.armorTypes selected=data.armorType localize=true}}
                    </select>
                </td>
            </tr>     
            <tr>
                <td><label>{{localize "midgard4.armor.materialType"}}</label></td>
                <td>
                    <select name="data.materialType">
                        {{selectOptions config.materialTypes selected=data.materialType localize=true}}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>{{localize "midgard4.armor.protectedLocations"}}</label></td>
                <td>
                    <input name="display.mainLocation" type="checkbox" disabled="disabled" checked="checked"/>
                    <label style="vertical-align: super;">{{localize display.mainLocation}}</label>                    
                    <br>
                    {{#each display.optionalLocations as |isChecked name|}}
                        <input name={{concat "display.optionalLocations." name}} type="checkbox" {{checked isChecked}}/>
                        <label style="vertical-align: super;">{{localize (concat "midgard4.protectionLocation." name)}}</label>
                        <br>                
                    {{/each}}
                </td>
            </tr>
            <tr>
                <td><label>{{localize "midgard4.item.magic"}}</label></td>
                <td>
                    <input name="data.magic" type="checkbox" {{checked data.magic}}/>
                </td>
            </tr>
            <tr>
                <td><label>{{localize "midgard4.item.protection"}}</label></td>
                <td>
                    <input name="display.protection" type="number" value="{{data.protection}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>