<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "midgard4.weapon.type"}}</th>
                <th>{{localize "midgard4.weapon.skill"}}</th>
                <th>{{localize "midgard4.item.magic"}}</th>
                <th>{{localize "midgard4.weapon.damage"}}</th>
                <th>{{localize "midgard4.weapon.attackBonus"}}</th>
                <th>{{localize "midgard4.weapon.damageBonus"}}</th>
                <th>{{localize "midgard4.weapon.parryBonus"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.weaponType">
                        {{selectOptions config.weaponTypes selected=data.weaponType localize=true}}
                    </select>
                </td>
                <td>
                    <input name="data.skill" type="text" value="{{data.skill}}" data-dtype="String" />
                </td>
                <td>
                    <input name="data.magic" type="checkbox" {{checked data.magic}}/>
                </td>
                <td>
                    <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="String" />
                </td>
                <td>
                    <input name="data.attackBonus" type="text" value="{{data.attackBonus}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.damageBonus" type="text" value="{{data.damageBonus}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="data.parryBonus" type="text" value="{{data.parryBonus}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}    
    </div>
</form>